@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Color */
:root {
  --txt-main: #fff;  
}

* {
  font-family: 'Montserrat', sans-serif;
}

header#mobile {
  display: none;
}

/* Navbar Section */
header {
  padding: 20px 0px;
  color: var(--txt-main);
  transition: 0.5s ease-in-out;
}

header .container .logo a {
  font-weight: 700;
  text-decoration: none;
  color: var(--txt-main);
}

header .container ul li {
  list-style: none;
}

header .container .nav-list a {
  text-decoration: none;
  padding: 0px 15px;
  color: var(--txt-main);
}

header .container .nav-list a:hover {
  color: red;
  transition: 0.3s ease-in;
}
/* #################### */

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg-hero.jpg);
  background-size: cover;
  filter: brightness(0.3);
  position: absolute;
  z-index: -99;
}

.hero-content .container .row {
  min-height: 100vh;
  color: var(--txt-main);
}

.hero-content .container .row .col p {
  font-size: 1.2rem;
}

.hero-content .container .row .col h2 {
  font-size: 3rem;
}

.hero-content .container .row .col p {
  margin-top: 20px;
}

.hero-content .container .row .col .btn {
  margin-top: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}

.hero-content .container .row .col .btn:hover {
  opacity: 0.8;
}

/* About Section */
#about .container {
  padding: 50px 80px;
}

#about .container .row h2,
#event .container .row h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  opacity: 0.8;
}

#about .container .row p,
#event .container .row p {
  text-align: center;
}

.desc1 h3 {
  margin-bottom: 20px;
}

.img-thumb {
  transition: 0.3s ease-in;
  border-radius: 7px;
}

.img-thumb:hover {
  filter: brightness(0.7);
}

/* Event Section */
#event .container {
  padding: 50px 0px;
  margin-top: 55px;
}

.carousel-inner{
  border-radius: 7px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 15px;
  border-radius: 7px;
}

.carousel-caption p,
.carousel-caption h5 {
  color: var(--txt-main);
}

.carousel-caption h5 {
  font-size: 1rem;
}

.carousel-caption p {
  font-size: 0.8rem;
}

/* Footer Section */
footer {
  background: linear-gradient(red, rgb(151, 1, 1));
}

/* Contact Footer */
#contact{
  text-align: center;
  padding: 50px;
}

#contact h2{
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 15px;
}

#contact p{
  margin-top: 15px;
}

#contact .icon{
  display: flex;
  justify-content: space-between;
}

#contact .icon .col-md-3 svg{
  width: 25px;
  text-align: center;
  margin: 20px 0px;
}

#contact h2,
#contact span,
#contact p{
  color: #fff;
}
/* #################### */

.arrow-top {
  position: fixed;
  bottom: 2%;
  right: 1%;
  transition: 0.3s ease-in;
  animation: 2s ball infinite;
  color: red;
  cursor: pointer;
  z-index: 9;
}

@keyframes ball {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  /* About Section */
  #about .container {
    padding: 50px 30px;
  }

  #contact{
    padding: 50px 20px;
  }
}

/* Mobile */
@media only screen and (max-width: 576px) {
  header#navbar {
    display: none;
  }

  header#mobile {
    display: block;
    transform: translateY(-20px);
  }

  .hero-content .container .row .col p {
    font-size: 1rem;
  }

  .hero-content .container .row .col h2 {
    font-size: 2.5rem;
  }

  .hero-content .container .row .col p {
    margin-top: 25px;
  }

  .hero-content .container .row .col .btn {
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
  }

  /* About Section */
  #about .container {
    padding: 50px 40px;
  }

  /* Event Section */
  #event .container .row .col-md-6 span h2 {
    margin-top: 35px;
  }
}

